@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "CormorantGaramond Italic";
  font-weight: 400;
  font-display: swap;
  src: url(/public/font/CormorantGaramond-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: "CormorantGaramond";
  font-weight: 700;
  font-display: swap;
  src: url(/public/font/CormorantGaramond-VariableFont_wght.ttf) format('truetype');
}


.hamburger-line{
  position: relative;
  width: 100%;
  height: 0.2rem;
  background-color: #451a03cc;
  border-radius: 0.5rem;
  display: block;
}

.hamburger-line::after,
    .hamburger-line::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: #451a03cc;
  border-radius: 0.5rem;
  display: block;
}

.hamburger-line::after{
  top: -0.4rem;
}

.hamburger-line::before{
  top: 0.4rem
} 

.active .hamburger-line{
  background-color: transparent;
}

.active .hamburger-line::after{
  transform: translateY(8px) rotate(45deg);
}

.active .hamburger-line::before{
  transform: translateY(-8px) rotate(-45deg);
}